.login__container {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border: 2px solid white;
}

.btn__google {
  background-color: #db4437;
  color: #fff;
  &:hover {
    color: #fff;
    background-color: darken(#db4437, 7%);
  }
}

.btn__facebook {
  background-color: #3b5998;
  color: #fff;
  &:hover {
    color: #fff;
    background-color: darken(#3b5998, 7%);
  }
}

.btn__github {
  background-color: #000;
  color: #fff;
  &:hover {
    color: #fff;
    background-color: lighten(#000, 7%);
  }
}

.login__icon {
  padding: 0 8px 0 0;
}
