.modal__title {
  font-size: 22px;
}

.modal__tagline {
  font-size: 15px;
  color: gray;
}

.modal__poster {
  display: block;
  height: 140px;
  width: auto;
  margin: 0 auto;
}

.modal__text {
  width: 300px;
}
